---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.notes %}
          {% for note in post.notes %}
          {{note.keyw}}{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        {% else %}
          {{ post.title }}
        {% endif %}
      </a>
    </h1>

    <p class="post-date">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
    </p>
    {% if post.notes %}
    <ul>
      {% for note in post.notes %}
        <li>{{note.desc}}  {% if note.via %}via {{note.via}}{% endif %}<br>
          <a href="{{note.link}}">{{note.link}}</a>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      {{ post.content }}
    {% endif %}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
